@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

* { margin: 0px; padding: 0px; font-family: 'Noto Sans KR', sans-serif; }

nav { position: fixed; width: 200px; height: 100%; top: 0; left: 0; background-color: #111; }

nav ul li { list-style: none; text-align: center; }
nav ul li a { display: block; padding: 1rem; text-decoration: none; color: #818181; font-size: 25px; text-transform: uppercase; }
nav ul li a:hover { background-color: rgb(32, 32, 32); color: rgba(255, 255, 255, 0.637); cursor: pointer; }
nav ul li a.active { color: white; }

#container { padding-left: 200px; }

#container #about { height: 100vh; }
#container #portfolio { height: 200vh; }
#container #blog { height: 100vh; }
#container #contact { height: 100vh; }

#container footer { padding: 30px 0; background-color: gainsboro; text-align: center; }